---
import BaseLayout from "../layouts/BaseLayout.astro";
import InputForm from "../components/InputForm.astro";
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title="Questionnaire"
  description="User Input Form for Questionnaire"
  canonical="https://yourwebsite.com/questionnaire"
  twitter={{
    handle: "@yourhandle",
    site: "@yoursite",
    cardType: "summary_large_image",
  }}
/>

<BaseLayout>
  <div class="centered-container ">
   <span
      class="text-transparent mt-[100px] mb-[20px] bg-clip-text text-6xl tracking-widest bg-gradient-to-r from-pink-700 via-pink-500 to-indigo-700 dark:from-cyan-400 dark:via-teal-500 dark:to-indigo-500 text-md uppercase"
    >
      Your Own Story
    </span>
    <InputForm />
  </div>
</BaseLayout>

<style>
  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-width:600px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    margin-bottom: 2rem;
    color: #444545; /* Dark pink color */
  }
</style>
