---
import { Icon } from "astro-icon";
---

<section
  aria-labelledby="Featureone"
  id="overview"
  class="relative scroll-mt-24"
>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto relative py-12 lg:pt-24">
    <div>
      <div class="max-w-full">
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-pink-700 via-pink-500 to-indigo-700 dark:from-cyan-400 dark:via-teal-500 dark:to-indigo-500 text-s uppercase"
          >Testimonials</span
        >
        <p class="text-3xl mt-4 font-normal text-vulcan-700 dark:text-white">
          Our statisfied community
          <!-- to run <span class="whitespace-nowrap">your application</span>. -->
        </p>
        <p class="max-w-full mt-4 text-lg text-gray-600 dark:text-slate-400">
          BreastDoc: Empowering breast cancer patients with AI-driven insights
          and compassionate doctor support.
        </p>
      </div>
    </div>
    <div>
      <ul
        class="grid grid-cols-1 gap-4 mt-6 list-none lg:gap-24 md:grid-cols-2 lg:mt-12"
        role="list"
      >
        <li>
          <div>
            <div
              class="text-white font-normal mr-2 bg-gradient-to-r from-pink-200 via-pink-200 to-indigo-200 w-8 h-8 md:w-12 md:h-12 flex md:mb-4 mb-2 rounded-xl p-2"
            >
              <Icon name="mdi:sparkles" class="pink-icon" />
            </div>
            <h3
              class="mb-2 md:text-2xl text-xl font-bold text-gray-600 dark:text-white"
            >
              Priya Sharma
            </h3>
            <p class="text-gray-600 dark:text-gray-400">
              BreastDoc has been a lifesaver for me. The AI insights and doctor
              support helped me make informed decisions about my treatment. I
              feel empowered and hopeful.
            </p>
          </div>
        </li>

        <li>
          <div>
            <div
              class="text-white font-normal mr-2 bg-gradient-to-r from-pink-200 via-pink-200 to-indigo-200 w-8 h-8 md:w-12 md:h-12 flex md:mb-4 mb-2 rounded-xl p-2"
            >
              <Icon name="mdi:sparkles" class="pink-icon" />
            </div>
            <h3
              class="mb-2 md:text-2xl text-xl font-bold text-gray-600 dark:text-white"
            >
              Anjali Verma
            </h3>
            <p class="text-gray-600 dark:text-gray-400">
              Navigating breast cancer was overwhelming until I found BreastDoc.
              The personalized care and constant support from the doctors made
              all the difference in my journey.
            </p>
          </div>
        </li>

        <li>
          <div>
            <div
              class="text-white font-normal mr-2 bg-gradient-to-r from-pink-200 via-pink-200 to-indigo-200 w-8 h-8 md:w-12 md:h-12 flex md:mb-4 mb-2 rounded-xl p-1"
            >
              <Icon name="mdi:sparkles" class="pink-icon" />
            </div>
            <h3
              class="mb-2 md:text-2xl text-xl font-bold text-gray-600 dark:text-white"
            >
              Meena Kapoor
            </h3>
            <p class="text-gray-600 dark:text-gray-400">
              Thanks to BreastDoc, I never felt alone in my fight against breast
              cancer. The moral support and expert guidance gave me the strength
              to overcome every challenge.
            </p>
          </div>
        </li>

        <li>
          <div>
            <div
              class="text-white font-normal mr-2 bg-gradient-to-r from-pink-200 via-pink-200 to-indigo-200 w-8 h-8 md:w-12 md:h-12 flex md:mb-4 mb-2 rounded-xl p-1"
            >
              <Icon name="mdi:sparkles" class="pink-icon" />
            </div>
            <h3
              class="mb-2 md:text-2xl text-xl font-bold text-gray-600 dark:text-white"
            >
              Ritu Sharma
            </h3>
            <p class="text-gray-600 dark:text-gray-400">
              BreastDoc provided me with the perfect blend of technology and
              human touch. The AI-powered insights and compassionate doctors
              helped me through every step of my treatment.
            </p>
          </div>
        </li>
        <li>
          <div>
            <div
              class="text-white font-normal mr-2 bg-gradient-to-r from-pink-200 via-pink-200 to-indigo-200 w-8 h-8 md:w-12 md:h-12 flex md:mb-4 mb-2 rounded-xl p-1"
            >
              <Icon name="mdi:sparkles" class="pink-icon" />
            </div>
            <h3
              class="mb-2 md:text-2xl text-xl font-bold text-gray-600 dark:text-white"
            >
              Kavita Singh
            </h3>
            <p class="text-gray-600 dark:text-gray-400">
              BreastDoc has been a beacon of hope during my treatment. The
              combination of advanced AI and caring doctors provided me with the
              confidence and support I needed.
            </p>
          </div>
        </li>
        <li>
          <div>
            <div
              class="text-white font-normal mr-2 bg-gradient-to-r from-pink-200 via-pink-200 to-indigo-200 w-8 h-8 md:w-12 md:h-12 flex md:mb-4 mb-2 rounded-xl p-1"
            >
              <Icon name="mdi:sparkles" class="pink-icon" />
            </div>
            <h3
              class="mb-2 md:text-2xl text-xl font-bold text-gray-600 dark:text-white"
            >
              Suman Joshi
            </h3>
            <p class="text-gray-600 dark:text-gray-400">
              With BreastDoc, I felt truly cared for. The AI-powered
              recommendations and attentive doctor consultations were invaluable
              in my recovery journey.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
