---
import BlurLight from "./assets/BlurLight.astro";
import Blurgradientleft from "./assets/Blurgradientleft.astro";
import Logo from "./logo.astro";
---

<section aria-labelledby="hero" id="hero" class="relative">
  <div class="dark:visible invisible">
    <Blurgradientleft />
  </div>
  <div class="dark:invisible visible">
    <BlurLight />
  </div>
  <div class="max-w-7xl pb-20 mx-auto lg:pb-28 pt-40 px-8 md:px-12 lg:px-32">
    <span
      class="text-transparent bg-clip-text text-6xl tracking-widest bg-gradient-to-r from-emerald-700 via-cyan-500 to-indigo-700 dark:from-cyan-400 dark:via-teal-500 dark:to-indigo-500 text-md uppercase"
    >
      Humans of Postgres
    </span>

    <div class="frjcic justify-between gap-6 lg:gap-12 pt-6 text-sm lg:text-base items-start">
      <div class="frjcic justify-start lg:w-[50%] w-full sm:w-[70%] divide-x items-start relative">
          <div class="text-gray-600 dark:text-gray-400 mr-4 w-1/2">
            Welcome to <span class="text-blue-300">Humans of Postgres</span> – an
            immersive podcast and interview series that goes beyond the lines of
            code. Explore the personal stories and experiences of the brilliant minds
            woven into the fabric of PostgreSQL.
          </div>
          <div class="w-1/2">
            <div class="text-gray-600 dark:text-gray-400 ml-4">
              Our platform serves as a virtual stage where prominent figures,
              industry veterans, and dedicated contributors engage in
              enlightening 45-minute conversations.
            </div>
          </div>
        </div>
      <Logo />
    </div>
  </div>
</section>
