---
import "../styles/animation.scss";
---
<div class="main lg:block hidden " style="
    ;
">
<div class="backCircle">
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
</div>
<div class="middleCircle"></div>
<div class="frontCircle">
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
  <div class="smallCircle"></div>
</div>
</div>
