---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
// import { ViewTransitions } from "astro:transitions";
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead />
    <!-- <ViewTransitions /> -->
    </head
  >
  <body
    class="no-scrollbar dark:bg-vulcan-900 bg-rose-50/60 selection:bg-rose-400 selection:text-white dark:selection:bg-indigo-500"
  >
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
