---
import BaseHead from "../components/BaseHead.astro";
---

<html
  lang="en"
  class="scroll-smooth">
  <head> <BaseHead /></head>
  <body class="bg-vulcan-900 no-scrollbar dark:bg-vulcan-900 bg-rose-50/60 selection:bg-rose-400 selection:text-white dark:selection:bg-indigo-500">

    <slot />

  </body>
</html>
