---
import BlurLight from "../assets/BlurLight.astro";
import Blurgradientleft from "../assets/Blurgradientleft.astro";
import { Icon } from 'astro-icon';
---

<footer
  aria-labelledby="footer"
  id="footer "
  class="dark:bg-vulcan-900 bg-cyan-50/60 relative"
>
  <div class="dark:visible invisible">
    <Blurgradientleft />
  </div>
  <div class="dark:invisible visible">
    <BlurLight />
  </div>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div
      class="flex md:flex-row md:justify-around items-start md:items-center flex-col gap-8"
    >
      <div class="text-vulcan-700 dark:text-white md:mr-16">
        <div class="inline-flex items-center gap-3">
                     <a href="https://imgbb.com/"><img src="https://i.ibb.co/1ncQZ0h/breastdoclogo.png" class="h-[50px] w-[50px]" alt="breastdoclogo" border="0"></a>

          <p class="text-2xl">BreastDoc </p>
        </div>
        <p class="mt-2 text-sm text-gray-600 dark:text-slate-400">
          <span
            class="mt-6 text-sm font-normal text-gray-600 dark:text-slate-400"
          >
            &copy; 2024 Mini_Minds <br /> All rights reserved
          </span>
        </p>
      </div>
      <div class="flex flex-row gap-8">
        <div class="grid grid-cols-2 md:grid-cols-3 justify-center gap-8 items-start">
          <div>
            <h3 class="text-vulcan-700 dark:text-white">Navigation</h3>
            <ul role="list" class="mt-2 space-y-2">
              <li>
                <a
                  class="text-sm text-gray-600 dark:text-slate-400 hover:text-vulcan-900 dark:hover:text-white inline-flex items-center"
                  href="#overview">Overview</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm text-gray-600 dark:text-slate-400 hover:text-vulcan-900 dark:hover:text-white"
                >
                  Documentation
                </a>
              </li>
            </ul>
          </div>
          <div class="">
            <h3 class="text-vulcan-700 dark:text-white">Links</h3>
            <ul role="list" class="mt-2 space-y-2">
              <li>
                <a
                  href="#"
                  class="text-sm text-gray-600 dark:text-slate-400 hover:text-vulcan-900 dark:hover:text-white"
                >
                  Report a bug
                </a>
              </li>
              <li>
                <a href="#" 
                   class="text-sm text-gray-600 dark:text-slate-400 hover:text-vulcan-900 dark:hover:text-white">
                  @BreastDoc
                </a>
              </li>
            </ul>
          </div>
          <div class="md:fcjcic frjcic gap-4  md:ml-0">
             <a
          class=" text-vulcan-700 dark:text-white font-normal  dark:hover:text-white/50 hover:text-vulcan-900 w-9 h-9 flex transition-all hover:scale-105"
          href="#"
        ><Icon name="mdi:discord" /></a>
        <a
        class="text-vulcan-700 dark:text-white font-normal  dark:hover:text-white/50 hover:text-vulcan-900 w-9 h-9 flex transition-all hover:scale-105"
        href="#"
      ><Icon  name="mdi:github" /></a>
        <a
        class="text-vulcan-700 dark:text-white font-normal  dark:hover:text-white/50 hover:text-vulcan-900 w-9 h-9 flex transition-all hover:scale-105"
        href="#"
      ><Icon  name="mdi:twitter" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center gap-6"></div>
  </div>
</footer>
