---
import { Icon } from 'astro-icon';
import Dark from '../Dark.astro';
---

<section
  aria-labelledby="navigation"
  id="navigation"
  class="overflow-hidden relatve bg-vulcan-700/0 border-b border-white/5 backdrop-blur-2xl lg:bg-vulcan-700/0 z-50 fixed w-full">
  <div class="w-full mx-auto relative">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 px-8 mx-auto md:items-center md:justify-between md:flex-row md:px-12 lg:px-32">
      <div
        class="flex flex-row items-center justify-between text-vulcan-700 dark:text-white lg:justify-start">
        <a href="/" class="lg:pr-8">
          <div class="inline-flex items-center gap-3 transition-all hover:scale-105">
            <svg id="Layer_2" class="h-5" id="logo-70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 158 158"><defs><style>.cls-1{fill:none;stroke:#3fa9f5;stroke-miterlimit:10;stroke-width:20px;}</style></defs><g id="Layer_1-2"><circle class="cls-1" cx="79" cy="79" r="69"/></g></svg>
            <p class="text-2xl">Humans of Postgres</p>
          </div>
        </a>
        <div class="grow mr-1"></div>
        <div class="transition-all hover:scale-105 mt-2"><Dark/></div>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-vulcan-700 dark:text-white hover:text-indigo-400 focus:outline-none dark:focus:text-white md:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-md text-vulcan-700 dark:text-white font-normal dark:hover:text-white/50 hover:text-vulcan-900 transition-all hover:scale-105"
          href="/blog">Blog</a
        >
         <a
          class=" text-vulcan-700 dark:text-white font-normal mt-2 sm:mt-0 mr-2 ml-4 dark:hover:text-white/50 hover:text-vulcan-900 w-[24px] h-[24px] flex transition-all hover:scale-105"
          href="https://discord.omnigr.es"
        ><Icon name="mdi:discord" /></a>
        <a
        class="text-vulcan-700 dark:text-white font-normal mt-2 sm:mt-0 mr-2 ml-4 sm:ml-0 dark:hover:text-white/50 hover:text-vulcan-900 w-[24px] h-[24px] flex transition-all hover:scale-105"
        href="https://github.com/omnigres/omnigres"
      ><Icon  name="mdi:github" /></a>
        <a
        class="text-vulcan-700 dark:text-white font-normal  mt-2 sm:mt-0 mr-2 ml-4 sm:mr-0 sm:ml-0 dark:hover:text-white/50 hover:text-vulcan-900 w-[24px] h-[24px] flex transition-all hover:scale-105"
        href="https://x.com/omnigres"
      ><Icon  name="mdi:twitter" /></a>
      </nav>
    </div>
  </div>
</section>
